body{
    background-color: white;
    animation: diaNoche 10s infinite 1.5s;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.sol{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: yellow;
    border-radius: 3px solid yellow;
}

.sombra{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: white;
    top: -5px;
    left: 0px;
    animation: moverSombra 10s infinite 1.5s;
}

@keyframes moverSombra{
    0%{
        transform: translateX(150px);
        background-color: white;
    }
    50%{
        transform: translateX(-10px);
        background-color: black;
    }
    100%{
        transform: translateX(-170px);
        background-color: white;
    }
}

@keyframes diaNoche{
    0%{
        background-color: white;
    }
    50%{
        background-color: black;
    }
    100%{
        background-color: white;
    }
}
